<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="db_estacionamientoEntities" connectionString="metadata=res://*/Modelo_Estacionamiento.csdl|res://*/Modelo_Estacionamiento.ssdl|res://*/Modelo_Estacionamiento.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=db_estacionamiento;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="db_estacionamientoConnectionString" connectionString="Data Source=localhost;Initial Catalog=db_estacionamiento;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="db_estacionamientoConnectionString2" connectionString="Data Source=localhost;Initial Catalog=db_estacionamiento;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="db_estacionamientoConnectionString3" connectionString="Data Source=localhost;Initial Catalog=db_estacionamiento;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="db_estacionamientoConnectionString4" connectionString="Data Source=localhost;Initial Catalog=db_estacionamiento;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="db_estacionamientoConnectionString5" connectionString="Data Source=localhost;Initial Catalog=db_estacionamiento;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="db_estacionamientoConnectionString6" connectionString="Data Source=localhost;Initial Catalog=db_estacionamiento;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="db_estacionamientoConnectionString7" connectionString="Data Source=localhost;Initial Catalog=db_estacionamiento;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="db_estacionamientoConnectionString8" connectionString="Data Source=localhost;Initial Catalog=db_estacionamiento;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="db_estacionamientoConnectionString9" connectionString="Data Source=localhost;Initial Catalog=db_estacionamiento;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="db_estacionamientoConnectionString10" connectionString="Data Source=localhost;Initial Catalog=db_estacionamiento;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISistemaEstacionamiento" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:59226/SSistemaEstacionamiento.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISistemaEstacionamiento"
        contract="Servicio_Estacionamiento.ISistemaEstacionamiento"
        name="BasicHttpBinding_ISistemaEstacionamiento" />
    </client>
  </system.serviceModel>
</configuration>
